<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<!-- <div class="page-content"> -->

<div class="page-content">
  <h1>ABOUT</h1>
  <p>The purpose of this project, provided by The Complete 2022 Web Development Bootcamp, taught 
     by Angela Yu, is to take everything learned so far and put it into practice. A new feature 
     updated from Version 1, is the ability to create new webpages off blogs composed by the user. 
  </p>

  <p>Things I've Learned In This Project:</p>
  <ol>
    <li>I learned about the "forEach" Method which loops through each element in an Array</li>
    <li>How to utilize Express's Route Parameters to create a dynamic URL and Website</li>
    <li>I learned what a "Kebab Case" was</li>
    <li>Utilizing LoDash, a Utility Library, within Node.JS</li>
    <li>How to Truncate a String</li>
    <li>How to make an Anchor Tag href using EJS Tag</li>  
  </ol>
  <p>I’ve Expanded some on this project from the second version set by Dr. Yu. I utilized BootStrap 
     for the Navigation Bar. Placed a large image as the background. Altered the Cascading Styles Sheets 
     to create an easier reading and writing experience for the user while limiting the obstruction of the 
     background image. Lastly made the website more mobile friendly and responsive. While not much, it is 
     more appealing than the original project. In the future I may add to the project at which time I will 
     update this About Section, and which will also be reflected in my GitHub READ.me.
  </p>
  </div>
</div>

<!-- EJS Footer Layout -->
<%- include("./partials/footer2") -%>