<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<form action="/compose" method="post">
<h1>Compose</h1>


<form>
    <!-- Title Input -->
    <div class="form-group">
      <label for="exampleFormControlInput1">Title:</label>
      <input type="text" class="form-control" name="postTitle" id="exampleFormControlInput1" autocomplete="off" required>
    </div>
    
    <!-- Post Input -->
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Post:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="30" name="postBody" required></textarea>
    </div>

    <!-- Submit Button -->
    <button type="submit" name="button" class="submit btn btn-primary">Publish</button>
</form>

<!-- EJS Footer Layout -->
<%- include("./partials/footer") -%>