<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<h1>Compose</h1>
<input type="text" name="composeInput" autocomplete="off">
<button type="submit" name="publish-btn" value=<% blogTitle %>>Publish</button>

<!-- EJS Footer Layout -->
<%- include("./partials/footer") -%>