<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<div class="page-content contact">
    
<h1>CONTACT</h1>

<p><%= contactContent %></p>

<a href="https://www.linkedin.com/in/coderortiz/"><img class= "contact-images" src="/images/linkedin-img.png" /></a>
<a href="https://github.com/CoderOrtiz"><img class= "contact-images" src="/images/github-img.png" /></a>

</div>

<!-- EJS Footer Layout -->
<%- include("./partials/footer") -%>