<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<h1>Home</h1>

<!-- Posts Title and Blog to Home Page -->

<% posts.forEach(function(post){ %>
        <h2> <%= post.title %> </h2>
        <!-- Truncating the Body of the Post to 100 Characters -->
        <p> <%= post.body.substring(0, 100) + "..."%> </p>
<%  });  %>


<!-- EJS Footer Layout -->
<%- include("./partials/footer") -%>