<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<h1>Home</h1>

<!-- Posts Title and Blog to Home Page -->

<% for(let i=0; i<posts.length; i++) { %>
    <% console.log(posts[i].title); %>
<% }; %>

<!-- EJS Footer Layout -->
<%- include("./partials/footer") -%>