<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<!-- Keys Located in App.JS -->
<h2> <%= title %> </h2>
<p> <%= body %> </p>

<!-- EJS Footer Layout -->
<%- include("./partials/footer") -%>