<!-- EJS Header Layout -->
<%- include("./partials/header") -%>

<div class="page-content">
<!-- Keys Located in App.JS -->
<h2> <%= title %> </h2>
<p> <%= content %> </p>
</div>

<!-- EJS Footer Layout -->
<%- include("./partials/footer") -%>